{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block body %}
  
<h1 class="title">El clasico de Avellaneda: INDEPEDIENTE VS RACING CLUB</h1>
<div class="carrusel">
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.topmercato.com/app/uploads/2024/02/independiente-racing-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://tntsports.cl/__export/1681686771524/sites/cdfchile/img/2023/04/16/racinggggg_x1x.jpg_554688468.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://lh3.googleusercontent.com/-miv9ro8d2ec/YjdBjpuGqHI/AAAAAAAAFk8/dTz6EqxB4VQ_7pxsOiq_YrveNaWZoNEGwCNcBGAsYHQ/s1600/1647788427923298-0.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h2 class="subtitle">Información que tenes que saber</h2>
<h4 class="subtitle2">Racing club de Avellaneda</h4>
<div class="cards-de-info"><!--cards de racing-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://tn.com.ar/resizer/hmif_sa64sbhi7c_GXRnJJE1m94=/767x0/smart/cloudfront-us-east-1.images.arcpublishing.com/artear/5HEGTV5VQRACVCMYDSRHNFS6CA.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
        <h6 class="texto">Nacido en 1903 en Avellaneda, como fusión de varios clubes amateurs.</h6>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
        <h6 class="texto">Presidente Perón, conocido como "El Cilindro".</h6>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://img.planetafobal.com/2013/12/racing-escudo-2013-ptu.jpg" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
        <h6 class="texto">Primer grande, pionero en títulos y popularidad.</h6>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://media.tycsports.com/files/2025/02/28/817182/racing-campeon-de-la-recopa-sudamericana_1440x810.webp?v=1" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
        <h6 class="texto"> Múltiples campeonatos y Copas internacionales.</h6>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://th.bing.com/th/id/OIP.qWifze8nYLuSM2NQbp-YlgHaFd?r=0&rs=1&pid=ImgDetMain" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
          <h6 class="texto">Rubén Paz, Lisandro López, Diego Milito.</h6>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://ayacuchoaldia.com.ar/wp-content/uploads/2021/03/hinchada-de-racing-2019.jpg" class="card-img-top" alt="S3">
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
          <h6 class="texto">Apasionada y muy leal, conocida por “La Academia”.</h6>
        </div>
      </div>
    </div>
  </main>
</div>
<h4 class="subtitle2">Club Atletico Independiente</h4>
<div class="cards-de-info"><!--cards de independiente-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://1.bp.blogspot.com/-OpgjfaZyxQI/WV85ur4eYAI/AAAAAAAAEgg/bfsqdL6ZXGMP0v_3z9gVVuzwcihNARrRwCLcBGAs/w1200-h630-p-k-no-nu/Independiente%2Bde%2BAvellaneda%2B1952a.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
        <h6 class="texto">Fundado en 1905 en Avellaneda, como escisión de un club para empleados.</h6>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://lanoticia1cdn.eleco.com.ar/cdn-cgi/image/format=auto,width=1500,quality=80/media/2023/11/estadio_de_independiente.jpeg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
        <h6 class="texto">Libertadores de América-Ricardo Bochini.</h6>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://th.bing.com/th/id/OIP.hkWgKSnNAanjduAeZQaUIgHaGQ?r=0&rs=1&pid=ImgDetMain" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
        <h6 class="texto">Club ganador y cuna de grandes copas.</h6>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://i.pinimg.com/originals/ca/9a/07/ca9a07c270fa202c7017da1487a7b5f9.jpg" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
        <h6 class="texto">El Rey de Copas, con 7 Copas Libertadores.</h6>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://www.lanacion.com.ar/resizer/w6he54CISb7LfH42jDkK7jdp-I8=/1200x800/smart/filters:format(webp):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/FOJPPQSHTRCNLANE5Q3QADBVCM.jpg" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
          <h6 class="texto">Ricardo Bochini, Jorge Burruchaga, José Pastoriza.</h6>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://th.bing.com/th/id/OIP.wX7QQtCe0sSKCHy-pN9PXQHaEK?r=0&rs=1&pid=ImgDetMain" class="card-img-top" alt="S3"></img>
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
          <h6 class="texto">Orgullosa de su historia copera, con gran presencia en clásicos.</h6>
        </div>
      </div>
    </div>
  </main>
</div>
<h2 class="subtitle">Graficos dinamico por MatPlotLib</h2>
<div class="graficos-cont">
<div class="graficos"><img src="data:image/png;base64,{{ plots['victoria_acumulada_avellaneda']}}"a></div>
<div class="graficos"><img src="data:image/png;base64,{{ plots['regresion_lineal_avellaneda']}}"a></div>
</div>
</div>
{% endblock %}