{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block body %}
  
<h1 class="title">El clasico de Avellaneda: INDEPEDIENTE VS RACING CLUB</h1>
<div class="carrusel">
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.eldestapeweb.com/eldestape/012018/1558049445951.jpg?&cw=600&ch=365" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://tntsports.cl/__export/1681686771524/sites/cdfchile/img/2023/04/16/racinggggg_x1x.jpg_554688468.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://lh3.googleusercontent.com/-miv9ro8d2ec/YjdBjpuGqHI/AAAAAAAAFk8/dTz6EqxB4VQ_7pxsOiq_YrveNaWZoNEGwCNcBGAsYHQ/s1600/1647788427923298-0.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h2 class="subtitle">Información que tenes que saber</h2>
<h4 class="subtitle2">Racing club de Avellaneda</h4>
<div class="cards-de-info"><!--cards de racing-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Actualidad-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
        <div class="card-body">
          <h5 class="card-title">Actualidad</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Juveniles-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
        <div class="card-body">
          <h5 class="card-title">Juveniles</h5>
        </div>
      </div>
    </div>
  </main>
</div>
<h4 class="subtitle2">Club Atletico Independiente</h4>
<div class="cards-de-info"><!--cards de independiente-->
  <div class="cards-de-info"><!--cards de racing-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Actualidad-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
        <div class="card-body">
          <h5 class="card-title">Actualidad</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Juveniles-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
        <div class="card-body">
          <h5 class="card-title">Juveniles</h5>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
{% endblock %}