{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block body %}
  
<h1>Analísis del Futbol Argentino</h1>
<p>Este proyecto tiene como objetivo recopilar, estructurar y analizar datos históricos de los clásicos del fútbol argentino utilizando archivos CSV (valores separados por comas). Los clásicos, como el Superclásico entre Boca Juniors y River Plate, el clásico de Avellaneda entre Independiente y Racing Club, o el clásico rosarino entre Newell's y Rosario Central, no solo representan rivalidades deportivas, sino también expresiones culturales profundas dentro del país. A través del uso de archivos CSV, se organizarán datos como resultados de partidos, goles, localía, torneos disputados, años, goleadores y otros aspectos relevantes. Estos datos serán luego procesados para generar estadísticas visuales que permitan observar la evolución de los enfrentamientos a lo largo del tiempo.</p>

{% endblock %}