{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block body %}
  
<h1>Analísis del Futbol Argentino: ROSARIO CENTRAL VS NEWELL'S</h1>
<div class="carrusel">
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.lacapital.com.ar/p/8e4975781c4d3530750b133d26a6fa10/adjuntos/203/imagenes/100/525/0100525190/1200x675/smart/clasico01jpg.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/736x/5c/97/4e/5c974e5bbebdf0da97cd57b27ecc2af9.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://th.bing.com/th/id/R.25fc5620a1150602c308c0adbc1e88f1?rik=0sNyrgW5XYR8Pw&riu=http%3a%2f%2fadmin.digitalsport.com.ar%2ffiles%2fuploads%2fAGOSTO+SPORT+2020%2fclasico.jpg&ehk=V70%2fCZlL%2bGipOYyc%2bHVhuPiGGeEqnm5GgwBMbzikgsM%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h2 class="subtitle">Información que tenes que saber</h2>
<h4 class="subtitle2">Club Atletico Rosario Central</h4>
<div class="cards-de-info"><!--cards de rosario central-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://tn.com.ar/resizer/hmif_sa64sbhi7c_GXRnJJE1m94=/767x0/smart/cloudfront-us-east-1.images.arcpublishing.com/artear/5HEGTV5VQRACVCMYDSRHNFS6CA.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Actualidad-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
        <div class="card-body">
          <h5 class="card-title">Actualidad</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Juveniles-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
        <div class="card-body">
          <h5 class="card-title">Juveniles</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </main>
</div>
<h4 class="subtitle2">Club Atletico Newell's Old Boys</h4>
<div class="cards-de-info"><!--cards de newells-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Actualidad-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
        <div class="card-body">
          <h5 class="card-title">Actualidad</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Juveniles-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
        <div class="card-body">
          <h5 class="card-title">Juveniles</h5>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
{% endblock %}