{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block body %}
  
<h1>Analísis del Futbol Argentino: RIVER VS BOCA</h1>
<div class="carrusel">
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://static.tycsports.com/sites/default/files/listas/9-tevez.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.mos.cms.futurecdn.net/XfT7PuDB5E2HWoSRN4fZM9.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://noticiasnet1.cdn.net.ar/252/noticiasnet/images/01/15/15/1151596_897a27f4cc91e88d2990d009b25bb1ca46b10a646e7c326c05a94acae5c9a7df/sm.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h2 class="subtitle">Información que tenes que saber</h2>
<h4 class="subtitle2">Club Atletico Boca Juniors</h4>
<div class="cards-de-info"><!--Cards de Boca-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://tn.com.ar/resizer/hmif_sa64sbhi7c_GXRnJJE1m94=/767x0/smart/cloudfront-us-east-1.images.arcpublishing.com/artear/5HEGTV5VQRACVCMYDSRHNFS6CA.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Actualidad-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
        <div class="card-body">
          <h5 class="card-title">Actualidad</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Juveniles-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
        <div class="card-body">
          <h5 class="card-title">Juveniles</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </main>
</div>
<h4 class="subtitle2">Club Atletico River Plate</h4>
<div class="cards-de-info"><!--cards de river-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Actualidad-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
        <div class="card-body">
          <h5 class="card-title">Actualidad</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Juveniles-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
        <div class="card-body">
          <h5 class="card-title">Juveniles</h5>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
{% endblock %}