{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block body %}
  
<h1>Analísis del Futbol Argentino: LANUS VS BANFIELD</h1>
<div class="carrusel">
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://th.bing.com/th/id/OIP.fZ7JJsm4uxf4b-XhFACjcgHaEK?r=0&rs=1&pid=ImgDetMain" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://th.bing.com/th/id/OIP.a1n_7fAWUToiX_03FZjLOAAAAA?r=0&rs=1&pid=ImgDetMain" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://resizer.glanacion.com/resizer/v2/un-clasico-con-KH6LCM4EJ5FGNIS6OSKG4GTKX4.jpg?auth=2b3b7b8148dbc2016057abc2cfc2feae4362bf4416fb14afeda6ad466b0845ce&width=420&height=280&quality=70&smart=true" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h2 class="subtitle">Información que tenes que saber</h2>
<h4 class="subtitle2">Atletico Lanus</h4>
<div class="cards-de-info"><!--cards de lanus-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://tn.com.ar/resizer/hmif_sa64sbhi7c_GXRnJJE1m94=/767x0/smart/cloudfront-us-east-1.images.arcpublishing.com/artear/5HEGTV5VQRACVCMYDSRHNFS6CA.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Actualidad-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
        <div class="card-body">
          <h5 class="card-title">Actualidad</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Juveniles-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
        <div class="card-body">
          <h5 class="card-title">Juveniles</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </main>
</div>
<h4 class="subtitle2">Club Atletico Banfield</h4>
<div class="cards-de-info"><!--cards de banfield-->
  <div class="card-series">
      <div class="card" style="width: 18rem;"> <!--Origenes-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
      <div class="card-body">
        <h5 class="card-title">Origenes</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Estadio-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
      <div class="card-body">
        <h5 class="card-title">Estadio</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Identidad-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
      <div class="card-body">
        <h5 class="card-title">Identidad</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Titulos-->
      <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
      <div class="card-body">
        <h5 class="card-title">Titulos</h5>
      </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Jugadores historicos-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S1">
        <div class="card-body">
          <h5 class="card-title">Jugadores Historicos</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Actualidad-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S2">
        <div class="card-body">
          <h5 class="card-title">Actualidad</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--La hinchada-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S3">
        <div class="card-body">
          <h5 class="card-title">La hinchada</h5>
        </div>
      </div>
      <div class="card" style="width: 18rem;"> <!--Juveniles-->
        <img src="https://media.tycsports.com/files/2020/09/03/116309/cilindro-avellaneda-racing.jpg" class="card-img-top" alt="S4">
        <div class="card-body">
          <h5 class="card-title">Juveniles</h5>
        </div>
      </div>
    </div>
  </main>
</div>
</div>
{% endblock %}