/*Titulos y Subtitulos*/

.title {
   padding-inline: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitle{
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitle2{
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texto{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carrusel{
    margin: 20px;
}

/* Personalizar cards */

.card-series {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 15px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.card-series::-webkit-scrollbar {
  display: none;
}
.card-series {
  scrollbar-width: none;
}

.card {
  flex: 0 0 auto;            
  min-width: 300px;          
  max-width: 400px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  scroll-snap-align: start;
}

.card-img-top{
    height: 160px;
    min-width: 250px;
    width: 100%;
    align-items: center;
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}